<div class="jumbotron">
    <h1>Employee Search</h1>
    <p class="lead">Find Employees by clicking the button below or search one by Id providing a specific Id in the box and then pressing the search button.</p>
    <p>Id: <input id="txtSearch" type="text" maxlength="10" /> <a onclick="searchEmployees();" class="btn btn-primary btn-lg">Get Employees</a></p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Employees</h2>
        <div class="table-responsive">
            <table id="resultsTable" class="table">
                <thead>
                    <tr>
                        <td>
                            Id
                        </td>
                        <td>
                            Name
                        </td>
                        <td>
                            Contract Type
                        </td>
                        <td>
                            Role
                        </td>
                        <td>
                            Hourly Salary
                        </td>
                        <td>
                            Monthly Salary
                        </td>
                        <td>
                            Yearly Salary
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
